<article class="post">
	<header>
		<div class="title"><h2>Школа Маковея LIVE</h2></div>
	</header>
	<section>
		<p>
			Це — Школа Маковея Live, місце, де ти можеш висловити свою думку щодо речей, які тебе хвилюють. Якщо тобі є що сказати про свій клас, школу, Заліщики чи будь-що інше, що буде цікаво нашому читачу, пиши <a href="mailto:beeengine@gmail.com">нам</a> і ми тебе обов'язково опублікуємо!
		</p>
		<p>
			Редакція ШМ Live
		</p>
	</section>
</article>