<!-- Sidebar -->
<section id="sidebar">

<!-- Intro -->
	<section id="intro">
		<a href="/" class="logo"><img src="/assets/osyp-full-hipster.png" alt="" /></a>
		<header>
			<h2>Makovey<span style="color:red"> Live</span></h2>
			<p><%= t('moto-live') %></p>
		</header>
	</section>

<!-- Posts List -->
	<%= render 'layouts/live/sidebar_post' %>
<!-- About -->
	<section class="blurb">
		<h2><%= t('about') %></h2>
		<p>
			Це — Школа Маковея Live, місце, де ти можеш висловити свою думку щодо речей, які тебе хвилюють. Якщо тобі є що сказати про свій клас, школу, Заліщики чи будь-що інше, що буде цікаво нашому читачу, пиши <a href="mailto:beeengine@gmail.com">нам</a> і ми тебе обов'язково опублікуємо!
		</p>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="fa-vk"><span class="label">VK</span></a></li>
			<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<p class="copyright">&copy; beengine. Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
	</section>

</section>