<article class="post">
	<header>
		<div class="title">
			<h2>спеціалізована школа і-ііі ст. ім. о.с. маковея з поглибленим вивченням інформаційних технологій та технологічних дисциплін м. заліщики</h2>
		</div>
		<div class="meta">
			<a href="" class="teacher"><img src="/assets/osyp-full.png"></a>
		</div>
	</header>
<section>
<h3>Гімн та герб школи Маковея</h3>
	<p>Слова і музика О. С. Маковея<span class="image right"><img src="/assets/osyp-full-hipster.png" alt="тут має бути герб" /></span></p>
	<p> Привітайте щиро всім добром,<br>
		Нас дівчат і хлопців <br>
		Над Дністром,<br>
		Бо то йде, молоде,<br> 
		Жваве покоління —<br>
		Поміч Україні —<br>
		І всіх за собою<br>
		Поведе.<br>
<br>
		Заросли у полі могилки, <br>
		Де спочили браття і батьки, <br>
		І вони з глибини,<br>
		Кличуть нам — не дайтесь,<br>
		Жийте для своєї Вітчини.<br>
<br>
		І ми будем жити, як рідня, <br>
		Будем працювати всі щодня, <br>
		Щоб і ми між людьми <br>
		Всім здобули славу <br>
		І судьбу ласкаву, <br>
		Розумом і серцем <br>
		І грудьми.<br>
<br>
		Ми старі зівяли від журби, <br>
		Від тяжкої з лихом боротьби, <br>
		Що село, скрізь було, <br>
		Море сліз і муки, <br>
		Горя і розпуки <br>
		І все пусто-марно <br>
		Прогуло. <br>
<br>
		Але ви остались молоді, <br>
		Що зросли у смутку і біді, <br>
		Ви за нас,<br>
		В добрий час, <br>
		Скинете всі пута <br>
		Й слава незабута <br>
		Знову засіяє <br>
		Для всіх нас.
		</p>
	</section>
</article>