<article class="post">
	<header>
		<div class="title">
			<h2>Контакти</h2>
		</div>
	</header>
<section>
<p>	тел. <a href="tel:+380355421467">(03554) 2-14-67</a><br>
 	вул. Шкільна, 1 м. Заліщики 48600 Тернопільська область Україна <br>
 	E-mail: <a href="mailto:makoveya1@mail.ru">makoveya1@mail.ru</a>  <br>
</p>
</section>
<section>
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;'><div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google map							</a></small></div><div><small><a href="http://www.freedirectorysubmissionsites.com/">link directories</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(48.6469926,25.738310800000022),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(48.641723,25.730029)});infowindow = new google.maps.InfoWindow({content:'<strong>Школа Маковея</strong>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</section>