<%= render partial: 'shared/authors/author', collection: @authors %>
<!-- Pagination -->
<ul class="actions pagination">
	<li><%= link_to_previous_page @authors, t('prev'), class: "button big previous" %></li>
	<li><%= link_to_next_page @authors, t('next'), class: "button big next" %></li>
</ul>
