<article class="post">
	<header class="teacher">
		<div class="title">
			<h2><%= link_to teacher.name_uk, teacher %></h2>
			<p>Вчитель космічних ракет</p>
			<p>Працює з 1909 року</p>
		</div>
		<div class="meta">
			<%= link_to teacher, class: "teacher" do %>
				<%= image_tag("/assets/cat-ostap.jpeg") %>
			<% end %>
		</div>
	</header>
</article>