<article class="post">
	<header>
		<div class="title">
			<h2><%= @teacher.name_uk %></h2>
			<p>Вчитель космічних ракет</p>
			<p>Працює з 1909 року</p>
		</div>
		<div class="meta">
			<%= link_to @teacher, class: "teacher" do %>
				<%= image_tag(@teacher.photo) %>
			<% end %>
		</div>
	</header>
	<section>
		<%= sanitize(@teacher.info_uk) %>
	</section>
</article>