<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Урок</th>
													<th>Понеділок</th>
													<th>Вівторок</th>
													<th>Середа</th>
													<th>Четвер</th>
													<th>П'ятниця</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
												<tr>
													<td>2</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
												<tr>
													<td>3</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
												<tr>
													<td>4</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
												<tr>
													<td>5</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
												<tr>
													<td>6</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
												<tr>
													<td>7</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
													<td>
														<h4>Алгебра</h4>
														<a href="/">Приємська У. П.</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>