<%= render(@rubrics) %>
<!-- Pagination -->
<ul class="actions pagination">
	<li><a href="" class="disabled button big previous"><%= t('prev') %></a></li>
	<li><a href="#" class="button big next"><%= t('next') %></a></li>
</ul>
