<article class="post">
<section>
	<h2><%= @rubric.name_uk %></h2>
</section>
</article>
<%= render(@posts) %>
<ul class="actions pagination">
	<li><%= link_to_previous_page @posts, t('prev'), class: "button big previous" %></li>
	<li><%= link_to_next_page @posts, t('next'), class: "button big next" %></li>
</ul>
