				<!-- Header -->
					<header id="header">
						<h1><a href="#">Школа Маковея</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Розклад</a></li>
								<li><a href="#">Новини</a></li>
								<li><a href="#">Статті</a></li>
								<li><a href="#">Фотогалерея</a></li>
								<li><a href="#">Про нас</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
							</ul>
						</nav>
					</header>