<!-- Sidebar -->
<section id="sidebar">

<!-- Intro -->
	<section id="intro">
		<a href="/" class="logo"><img src="/assets/cat-ostap.jpeg" alt="" /></a>
		<header>
			<h2><%= t('makov') %></h2>
			<p>Новий сайт школи Маковея. Зроблено з любов'ю до котиків</p>
		</header>
	</section>

<!-- Posts List -->
	<%= render 'layouts/sidebar_post' %>
<!-- About -->
	<section class="blurb">
		<h2>About</h2>
		<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>

<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="fa-vk"><span class="label">VK</span></a></li>
			<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<p class="copyright">&copy; beengine. Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
	</section>

</section>